<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <link rel="API" type="informações" href="/js/tempo.js" media="screen" />
    <title></title>
</head>

<body>
    <form>
    <div>
    <button type="submit">Nuvem</button>
    <button type="submit">Nuvem</button>
    <button type="submit">Nuvem</button>

    <P><button type="submit">Nuvem</button></P>

    <h4>Graus</h4>
    <h2>Status do Varal: Estendido</h2>

    <label>Deseja recolher o varal?</label> 
    <select id="varal">
    <option selected disabled value="">Selecione</option>
    <option>Sim</option>
    <option>Não</option>
</select>

    <p><button>Enviar</button></p>
     
    </div>
</form>
</body>

</html>